[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.4"
python-dotenv = "*"
flake8 = "*"
coverage = "*"
crispy-bootstrap5 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
