{% extends 'base.html' %} {% load static %} 
{% block title %}Movie Language{% endblock title %} {% block content %}
<!-- Header-->
<header class="masthead d-flex align-items-center">
  <div class="container px-4 px-lg-5 text-center">
    <h1 class="mb-1">Movie Language</h1>
    <h3 class="mb-5">
      <em
        >Apprenez l'anglais avec des quizz sur vos films et séries préférés
        !</em
      >
    </h3>
    <a class="btn btn-primary btn-xl" href="{% url 'quizz:quizz_list' %}#Quizz_list">
      Commencer</a>
  </div>
</header>
<!-- About-->
<section class="content-section bg-light" id="about">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-10">
        <h2>Pourquoi MovieLanguage ?</h2>
        <p class="lead mb-5">
          MovieLanguage part d'une idée simple. Apprendre et s'améliorer dans une langue avec un art que l'on aime.
          Nous avons tous aimé un film et/ou une série.<br>
          MovieLanguage vous propose des quizz pour s'exercer en anglais.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Services-->
<section
  class="content-section bg-primary text-white text-center"
  id="services"
>
  <div class="container px-4 px-lg-5">
    <div class="content-section-heading">
      <h2 class="text-secondary mb-5">Ce que les films et nos quizz vous permettent d'améliorer</h2>
      {% comment %} <h2 class="mb-5">Objectifs</h2> {% endcomment %}
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
        <i class="fas fa-headphones"></i></span>
        <h4><strong>Ecoute</strong></h4>
        <p class="text-faded mb-0">Habituez votre oreille à tous les rythmes et accents.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="fas fa-spell-check"></i
        ></span>
        <h4><strong>Vocabulaire</strong></h4>
        <p class="text-faded mb-0">Enrichissez votre vocabulaire.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="fas fa-quote-right"></i
        ></span>
        <h4><strong>Expressions</strong></h4>
        <p class="text-faded mb-0">
          Les expressions font partie de la culture de la langue.
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3"
          ><i class="far fa-smile-beam"></i
        ></span>
        <h4><strong>Fun</strong></h4>
        <p class="text-faded mb-0">Apprendre tout en s'amusant reste le but premier !
        <i class="fas fa-heart"></i>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
